
<div ng-include="'../components/toolbar.edit.html'"></div>

<div class="container-content">

    <md-switch ng-model="data.toggleProp">{{texts.lbl.toggleProp}}</md-switch>
    <form ng-show="data.toggleProp" name="myForm">
        <md-input-container class="md-block">
            <label>{{texts.lbl.shopName}}</label>
            <input name="name" ng-model="edittedItem.name" required>
            <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                <span ng-show="myForm.name.$error.required">{{texts.msg.emptyName}}</span>
            </span>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{texts.lbl.desc}}</label>
            <input ng-model="edittedItem.desc">
        </md-input-container>
    </form>

    <md-input-container class="md-block">
        <label>{{texts.category.add}}</label>
        <md-select ng-model="category">
            <md-option value="{{c.id}}" ng-repeat="c in categories"
                       ng-click="addCategory(c)">{{c.name}}</md-option>
        </md-select>
    </md-input-container>

    <ol ui-sortable="sortableOptionsCategory"  ng-model="addedCategories" class="list-ordered">
        <li ng-repeat="item in addedCategories" class="item">
            <table class="list-item" width="100%">
                <tr>
                    <td width="90%" >{{ item.name }}</td>
                    <td width="10%" ng-click="deleteCategory(item)">
                        <md-button class="md-icon-button" aria-label="Delete">
                            <md-icon md-svg-icon="/img/icons/ic_delete_48px.svg"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </table>

        </li>
    </ol>

</div>
