<div ng-include="'../components/toolbar.edit.html'"></div>

<div class="container-content">


    <form name="myForm">
        <md-input-container class="md-block">
            <label>{{texts.lbl.name}}</label>
            <input name="name" ng-model="edittedItem.name" required>
            <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                <span ng-show="myForm.name.$error.required">{{texts.msg.emptyName}}</span>
            </span>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{texts.lbl.desc}}</label>
            <input ng-model="edittedItem.desc">
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{texts.lbl.category}}</label>
            <md-select ng-model="edittedItem.category">
                <md-option value="{{c.id}}" ng-repeat="c in categories" required>{{c.name}}</md-option>
            </md-select>
        </md-input-container>

    </form>

</div>

