<header class="hero-unit" id="banner">
    <h3>{{texts.item.title}}</h3>
</header>

<div class="container">

   <form ng-submit="addList()">
       <input name="newList" ng-model="newList" type="text" />
       <input type="submit" style="position: absolute; left: -9999px"/>
   </form>

   <form ng-submit="deleteAll()">
       <input type="submit" value="{{texts.deleteCrossed}}"/>
   </form>

   <ul ui-sortable="sortableOptions"  ng-model="items" class="list">
       <li ng-repeat="item in items" class="item">
           <table width="100%">
               <tr>
                   <td width="20%" ng-click="editList(item)">edit</td>
                   <td width="60%" ng-click="openList(item)">{{ item }}</td>
                   <td width="20%" ng-click="crossList(item)">x</td>
               </tr>
           </table>

       </li>
   </ul>
   <ul ui-sortable="sortableOptions"  ng-model="crossedItems" class="list">
       <li ng-repeat="item in crossedItems" class="item-crossed">
           <table width="100%">
               <tr>
                   <td width="20%" ng-click="editList(item)">edit</td>
                   <td width="60%" ng-click="openList(item)">{{ item }}</td>
                   <td width="20%" ng-click="uncrossList(item)">x</td>
               </tr>
           </table>

       </li>
   </ul>

</div>

<footer class="footer">
    <div class="container">
        <p>©2015 - Petr Marek</p>
    </div>
</footer>