<header class="hero-unit" id="banner">
    <h3>{{texts.list.edit}}</h3>
</header>

<div class="container">

    <form ng-submit="save()">
        <label>{{texts.lbl.name}} {{edittedItem.name}}</label>
        <input name="name" type="text" ng-model="edittedItem.name" placeholder="{{edittedItem.name}}"/>
        <label>{{texts.lbl.desc}}</label>
        <input name="desc" type="text" ng-model="edittedItem.desc" placeholder="{{edittedItem.desc}}"/>
        <label>{{texts.lbl.layout}}</label>
        <input name="layout" type="text" ng-model="edittedItem.layout" placeholder="{{edittedItem.layout}}"/>

        <input value="{{texts.lbl.submit}}" type="submit"/>
    </form>

</div>

<footer class="footer">
    <div class="container">
        <p>©2015 - Petr Marek</p>
    </div>
</footer>

