<div ng-include="'../components/toolbar.edit.html'"></div>

<md-content class="container">

    <form>
        <md-input-container class="md-block">
            <label>{{texts.lbl.name}}</label>
            <input ng-model="edittedItem.name" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{texts.lbl.desc}}</label>
            <input ng-model="edittedItem.desc">
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{texts.lbl.layout}}</label>
            <md-select ng-model="edittedItem.layoutId">
                <md-option value="{{l.id}}" ng-repeat="l in layouts">{{l.name}}</md-option>
            </md-select>
        </md-input-container>

    </form>

</md-content>

