<md-toolbar md-scroll-shrink ng-if="true" class="navigation">
    <div class="md-toolbar-tools">

        <md-button class="md-icon-button" aria-label="Menu" ng-click="back()">
            <md-icon md-svg-icon="img/icons/ic_arrow_back_48px.svg"></md-icon>
        </md-button>

        <h3>
            <span><a href="{{projectURL}}" >[{{texts.title}}]&nbsp;</a></span>
        </h3>
        <h3>
            <span>{{subtitle}} </span>
        </h3>
        <h3>
            <span>: {{edittedItem.name}} </span>
        </h3>

        <span flex></span>

        <md-button class="md-icon-button" aria-label="Save" ng-click="saveItem()">
            <md-icon md-svg-icon="img/icons/ic_save_48px.svg"></md-icon>
        </md-button>

        <span ng-click="saveItem()" class="responsive">{{texts.lbl.save}}</span>

    </div>
</md-toolbar>