<md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">

        <h3>
            <span>[{{texts.title}}]&nbsp;</span>
        </h3>
        <h3>
            <span>{{title}} </span>
        </h3>


        <span flex></span>

        <md-button class="md-icon-button" aria-label="Sync" ng-click="sync()">
            <md-icon md-svg-icon="img/icons/ic_sync_48px.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Lists" ng-click="showLists()">
            <md-icon md-svg-icon="img/icons/ic_list_48px.svg"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Layouts" ng-click="showLayouts()">
            <md-icon md-svg-icon="img/icons/ic_store_48px.svg"></md-icon>
        </md-button>

    </div>
</md-toolbar>